div.userstuff .vertical {
	writing-mode: vertical-rl;
	overflow: auto;
	margin: 1.286em auto auto;
	padding: 0 2.5% 1.286em;
	max-width: 95%;
	max-height: 90%;
}

div.userstuff .vertical h4 {
	text-indent: 4em;
	margin: auto 0.75em;
}

div.userstuff .vertical p {
	text-indent: 2em;
	margin: auto;
}

div.userstuff .vertical hr {
	margin: auto 0.75em;
	border: none;
}

div.userstuff .vertical hr::after {
	display: block;
	content: "＊";
	text-indent: 4em;
}

div.userstuff .vertical-jp {
	writing-mode: vertical-rl;
	overflow: auto;
	margin: 1.286em auto;
	padding-right: 2.5%;
	max-width: 95%;
	max-height: 90%;
	columns: 2;
	column-gap: 20px;
}

div.userstuff .vertical-jp h4 {
	text-indent: 2em;
	margin: auto 0.75em;
}

div.userstuff .vertical-jp p {
	text-indent: 1em;
	margin: auto;
}

div.userstuff .vertical-jp hr {
	margin: auto 0.75em;
	border: none;
}

div.userstuff .vertical-jp hr::after {
	display: block;
	content: "＊";
	text-indent: 2em;
}

.upright {
	text-orientation: upright;
}

.no-indent {
	text-indent: 0;
}
